@import "fonts";


$main-font: 'Heebo', sans-serif;
$second-font: 'Brown', sans-serif;
$white: #ffffff;
$violet: #752157;
$black-text: #383838;
$grey: rgb(226, 226, 226);
body, html {
  margin: 0;
  font-family: $main-font;

}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  flex-grow: 1;
  font-size: 16px;
  min-width: 320px;
  height: 100%;

  overflow-y: auto;

  &.no-scroll {
    overflow: hidden;
  }
}

.wrapper {
  width: 100%;

  //background: url("../img/bg-rect-10.png") no-repeat center, $violet;
  //background-size: cover;
  //background-attachment: fixed;

}
.bg-image {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: -1;
  img {
    width: 100vw;
    height: 100%;
    object-fit: cover;
  }
}

html {
  height: 100vh;
  font-size: 16px;
  min-height: 100%;
  display: flex;
}

.wrapper {
  height: auto;
  position: relative;
  &--thanks {
    height: 100%;
    .content-central {
      height: 100%;
    }
  }

}


.content {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  position: relative;
  //overflow: hidden;

}

.content-left {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;

}

.menu {
  padding-left: 7.1875vw;
  padding-top: 5.42915vw;

  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    list-style: none;
    padding-right: 0;

    li {

      opacity: 0.4;
      height: 1.9271vw;
      margin-bottom: 2.6042vw;
      transition: transform 0.3s ease;

      &:hover {
        transform: translate(1.0417vw, 0);
        transition: transform 0.3s ease;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &.active {
        opacity: 1;
      }

      .img {
        height: 1.5625vw;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.9792vw;
        flex-shrink: 0;
        margin-right: 1.0417vw;
      }

      a {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        text-decoration: none;

        p {
          font-size: 0.8333vw;
          line-height: 0.8333vw;
          font-family: $main-font;
          font-weight: normal;
          color: $white;
          text-align: left;
        }

        img {
          height: 1.5625vw;
          width: auto;

        }
      }
    }
  }
}

.content-right {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  width: 34.2188vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  //background: url("../img/cab-img-bg.png") no-repeat top right;
  //background-size: contain;

  .bg-side {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    right: 0;
    left: 0;

    img {
      width: 100%;
      height: auto;
    }
  }
  > .img {
    width: 19.9401vw;
    height: 35.4167vw;
    margin-bottom: 2.4375vw;

    img {
      width: 100%;
      height: 100%;
      filter: drop-shadow(6px 6px 40px rgba(255, 255, 255, 0.2));
    }
  }
}


.logo {
  padding: 2.0833vw 0 0 2.0833vw;
  box-sizing: border-box;

  a {
    display: inline-block;
    height: 3.9063vw;
    width: 10.4167vw;

    img {
      height: 100%;
      width: 100%;
    }
  }
}

p, h1, ul, ol, h2, h3, h4, h5, h6 {
  margin: 0;
}


header, footer {
  width: 100%;
}


main {
  flex-grow: 1;
}

.green-link {
  height: 4.5833vw;
  width: 20.7292vw;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  > img {
    position: absolute;
    right: 0;
    height: 100%;
    width: auto;
    bottom: 0;
    filter: drop-shadow(0px -6px 20px rgba(0, 0, 0, 0.16));

  }

  .img, p {
    position: relative;
  }

  .img {
    height: 2.0833vw;
    width: auto;
    flex-shrink: 0;
    margin-right: 1.3021vw;

    img {
      width: 100%;
      height: 100%;
      transition: transform 0.3s ease;

    }
  }

  &:hover {
    .img {
      img {
        transform: translate(-1.0938vw, 0);
        transition: transform 0.3s ease;
      }
    }
  }

  p {
    font-family: $main-font;
    font-weight: bold;
    font-size: 1.1458vw;
    line-height: 1.3542vw;
    text-align: right;
    color: #fff;
  }


}

::-webkit-scrollbar {
  display: none;
}

.content-central {
  width: 100%;

  &::after {
    height: 10.4167vw;
    z-index: 2;
    pointer-events: none;
    display: inline-block;
    background: linear-gradient(rgba(117, 33, 87, 0) 0%, rgba(117, 33, 87, 0) 28.86%, #752157 100%);
    opacity: 0.7;
    content: '';
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    mix-blend-mode: multiply;
  }

  //overflow-y: auto;
  height: auto;

  &::-webkit-scrollbar {
    display: none;
  }


}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  h1 {
    font-size: 7.5521vw;
    font-weight: 600;
    line-height: 7.2000vw;
    font-family: $second-font;
    text-transform: uppercase;
    color: white;
    vertical-align: top;
    display: inline-block;
    position: relative;

    small {
      position: absolute;
      font-size: 1.0417vw;
      line-height: 1.4063vw;
      vertical-align: top;
      top: .0125vw;
      font-weight: bold;
      left: calc(100% + .54919vw);
    }
  }

  p {
    display: inline-block;
    width: 100%;
    position: relative;
    font-family: $main-font;
    font-size: 3.1250vw;
    font-weight: normal;
    font-style: normal;
    line-height: 3.5417vw;
    color: #ffffff;
    text-align: center;
    padding-top: 0.6250vw;

    &::before {
      content: '';
      height: 0.2083vw;
      width: 95.529411764%;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
      background: #ffffff;
    }
  }

  a {
    padding-top: 4.64vw;
    height: 2.8646vw;
    width: 2.4479vw;
    text-decoration: none;
    transition: transform 0.3s ease;

    &:hover {

      transform: translate(0, 1.0417vw);

    }

    img {
      width: 100%;
      height: 100%;

    }
  }
}

.download-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding-top: 4.5167vw;

  p {
    font-size: 1.5625vw;
    line-height: 1.7908vw;
    color: #fff;
    font-family: $main-font;
    font-weight: normal;
    width: 100%;
    max-width: 94.16470588%;
    margin: 0 auto;

    strong {
      font-weight: bold;
    }
  }

  span {
    margin-top: 2.4833vw;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-family: $main-font;
    font-weight: bold;
    font-size: 1.1458vw;
    line-height: 1.3542vw;
    color: $white;
    margin-bottom: 0.6167vw;
  }

  .link {
    margin-left: 0.9375vw;
  }
}

.mob-only {
  display: none;
}

.container {
  width: 100%;
  box-sizing: border-box;
  padding-left: 28.1771vw;
  padding-right: 49.6875vw;
  padding-top: 16.9271vw;
  padding-bottom: 10.5208vw;
}

.link {
  text-decoration: none;
  width: 17.6458vw;
  height: 3.0313vw;
  border-radius: 0.9896vw 0.2604vw 0.9896vw 0.2604vw;
  transform: skewX(-18deg);
  position: relative;
  border: none;
  outline: none;
  cursor: pointer;

  &.link--white {
    background: white;
    color: #009845;

    div.img {
      background: #009845;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3.7104vw;
    }

    p {
      color: #009845;
    }
  }

  &.link--green {
    background: #009845;
    color: white;
    overflow: hidden;

    .after-click {
      position: absolute;
      transform: translate(-110%, 0);

      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      background: #F5B317;

      p {
        font-family: $main-font;
        font-weight: normal;
        font-style: normal;
        font-size: 1.1458vw;
        line-height: 1.3542vw;
        color: #009845;
        transform: skewX(18deg);
        text-align: center;
      }
    }

    &.active {
      .after-click {
        transform: translate(0, 0);
        transition: transform 0.5s ease;
      }
    }

    div.img {
      background: #F5B317;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3.5196937693vw;


      &::after {
        content: '>>';
        font-family: $main-font;
        font-weight: normal;
        font-style: normal;
        font-size: 1.3021vw;
        line-height: 1.3542vw;
        color: #009845;
        transform: skewX(18deg);
      }
    }

    p {
      color: white;
      padding: 0;
      margin: 0;
      text-align: center;
    }
  }

  div.link-container {
    width: 100%;
    height: 100%;
    transform: skewX(18deg);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  div.img {
    position: absolute;
    width: 4.7104vw;
    height: 3.0313vw;
    left: 0;
    top: 0;
    transform-origin: 50% 50%;
    transform: scale(0.87, 0.82);
    transition: transform 0.3s ease;
    display: flex;
    border-radius: 0.9896vw 0.2604vw 0.9896vw 0.2604vw;
    align-items: center;
    justify-content: center;

    img {
      width: 1.1458vw;
      height: auto;
      transform: skewX(18deg);
    }

  }

  p {
    font-family: $main-font;
    font-size: 1.1458vw;
    line-height: 1.3542vw;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  &:hover {
    div.img {
      transition: transform 0.3s ease;
      transform: scale(1, 1);
    }
  }
}

.benefits {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 5.9063vw;

  span {
    font-family: $main-font;
    font-weight: bold;
    font-size: 1.5625vw;
    line-height: 1.7708vw;
    color: #fff;
    display: inline-block;
    width: 100%;
    max-width: 92.16470588%;
    margin: 0 auto;
    position: relative;

    &::after {
      position: absolute;

      content: '';
      background: url("../img/benefits-icon.svg") no-repeat center;
      width: 1.6885vw;
      background-size: contain;
      height: 1.5625vw;
      top: 50%;
      left: calc(100% + 1.2500vw);
      transform: translate(0, -50%);
    }
  }

  p {
    font-family: $main-font;
    font-weight: normal;
    font-size: 1.1458vw;
    line-height: 1.3542vw;
    text-align: right;
    color: #fff;
    display: inline-block;
    width: 100%;
    max-width: 92.16470588%;
    margin: 0 auto;
    padding-top: 1.2333vw;

  }

  ul {
    width: 100%;
    list-style: none;
    padding: 0;
    max-width: 85.576471%;
    margin: 2.253vw auto 0;

    li {
      width: 100%;
      height: 4.7917vw;
      border-radius: 0.9896vw 0.2604vw 0.9896vw 0.2604vw;
      transform: skewX(-21deg);
      background: #009845;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 2.0833vw;

      &:last-child {
        margin-bottom: 0;
      }

      p {
        color: white;
        font-weight: bold;
        font-family: $main-font;
        font-size: 1.1458vw;
        line-height: 1.3542vw;
        font-style: normal;
        text-align: center;
        transform: skewX(21deg);
        max-width: 12.5000vw;
        width: 100%;
        padding: 0;
      }

      &:nth-child(even) {
        background: #F89E18;
      }

      &:nth-child(3) {
        p {
          max-width: 14.8958vw;
        }
      }
    }
  }
}

.pests-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 5.9063vw;
  position: relative;
  & > *:not(.animated-bugs) {
    z-index: 1;
  }
  ul {
    padding: 0;
    width: 100%;
    max-width: 92.16470588%;
    margin: 1.6146vw auto 0;
    list-style: none;

    li {
      display: flex;
      align-items: center;
      flex-direction: row;
      font-family: $main-font;
      font-weight: normal;
      color: white;
      font-style: normal;
      font-size: 1.1458vw;
      line-height: 1.3542vw;
      margin-bottom: 1.2500vw;

      &:last-child {
        margin-bottom: 0;
      }
      &::before {
        margin-left: 0.8333vw;
        content: '';
        width: 1.5578vw;
        height: 1.5625vw;
        display: inline-block;
        background: url("../img/bug-orange.svg") no-repeat center;
        background-size: contain;
      }
      svg {


        path {
          fill: white;
        }
      }

      &:nth-child(odd) {
        &::before {
          background: url("../img/bug-white.svg") no-repeat center;
          background-size: contain;
        }
      }
    }
  }

  span {
    font-family: $main-font;
    font-weight: bold;
    font-size: 1.5625vw;
    line-height: 1.7708vw;
    color: #fff;
    display: inline-block;
    width: 100%;
    max-width: 92.16470588%;
    margin: 0 auto;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      background: url("../img/pests-icon.svg") no-repeat center;
      width: 1.6885vw;
      background-size: contain;
      height: 1.5625vw;
      top: 50%;
      left: calc(100% + 1.2500vw);
      transform: translate(0, -50%);
    }
  }
}

.cultures {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 5.9063vw;

  span {
    font-family: $main-font;
    font-weight: bold;
    font-size: 1.5625vw;
    line-height: 1.7708vw;
    color: #fff;
    display: inline-block;
    width: 100%;
    max-width: 92.16470588%;
    margin: 0 auto;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      background-size: contain;
      background: url("../img/cultures-icon.svg") no-repeat center;
      width: 1.6885vw;
      height: 1.5625vw;
      top: 50%;
      left: calc(100% + 1.2500vw);
      transform: translate(0, -50%);
    }
  }

  ul {
    padding: 0;
    width: 100%;
    max-width: 94.16470588%;
    margin: 1.6146vw 0.8675vw 0 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;

    li {
      width: 6.3542vw;
      height: 6.3542vw;
      border-radius: 50%;
      box-sizing: border-box;
      border: 0.1042vw solid white;
      background: #009845;
      margin: 0 0.4167vw 0.8333vw;
      //margin-left: 0.8333vw;
      //margin-bottom: 0.8333vw;
      &:nth-child(2n), &:nth-child(5n), &:nth-child(8n) {
        margin: 0 0.4167vw 0.8333vw;
        //margin: 0 0.4167vw 0.8333vw;
      }

      &:nth-child(3n) {
        margin-left: 0;
      }

      &:nth-child(2n - 1) {
        margin-right: 0;
      }

      &:nth-child(4n - 1) {
        margin: 0 0.4167vw 0.8333vw;
        margin-left: 0;
      }

      &:nth-child(5n - 1) {
        margin: 0 0.4167vw 0.8333vw;
        margin-right: 0;
      }

      &:nth-child(6n - 1) {
        margin: 0 0.4167vw 0.8333vw;
      }

      &:nth-child(8n - 1) {
        margin: 0 0.4167vw 0.8333vw;
        margin-right: 0;
      }

      &:nth-child(10n - 1) {
        margin: 0 0.4167vw 0.8333vw;
        margin-left: 0;
      }

      //
      //&:nth-child(4), &:nth-child(5), &:nth-child(6) {
      //  margin-bottom: 0;
      //}

      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: flex-end;
      font-family: $main-font;
      font-weight: normal;
      color: $white;
      font-size: 0.8333vw;
      line-height: 1.3542vw;
      padding-bottom: 0.8854vw;

      .img {
        height: 3.1250vw;
        width: auto;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0.1563vw;

        img {
          height: 100%;
          width: auto;
          flex-shrink: 0;
          max-width: 3.4318vw;
        }
      }
    }
  }
}

.experiments {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 5.0521vw;

  span {
    font-family: $main-font;
    font-weight: bold;
    font-size: 1.5625vw;
    line-height: 1.7708vw;
    color: #fff;
    display: inline-block;
    width: 100%;
    max-width: 92.16470588%;
    margin: 0 auto;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      background: url("../img/expr-icon.svg") no-repeat center;
      width: 1.9328vw;
      background-size: contain;
      height: 1.5625vw;
      top: 50%;
      left: calc(100% + 1.2500vw);
      transform: translate(0, -50%);
    }
  }

  p {
    font-family: $main-font;
    font-weight: normal;
    font-size: 1.1458vw;
    line-height: 1.3542vw;
    text-align: right;
    color: #fff;
    display: inline-block;
    width: 100%;
    max-width: 94.352941176%;
    margin: 0 auto;
    padding-top: 1.2333vw;

  }

  > .img {
    width: 20.7292vw;
    height: 11.6667vw;
    box-sizing: border-box;
    margin: 1.6667vw auto 0;
    overflow: hidden;
    border: 1px solid white;
    border-radius: 1.5625vw 0.5208vw 1.5625vw 0.5208vw;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  ul {
    width: 100%;
    list-style: none;
    padding: 0;
    max-width: 85.576471%;
    margin: 2.253vw auto 0;

    li {
      width: 100%;
      height: 4.7917vw;
      border-radius: 0.9896vw 0.2604vw 0.9896vw 0.2604vw;
      transform: skewX(-21deg);
      background: #009845;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 2.0833vw;

      &:last-child {
        margin-bottom: 0;
      }

      p {
        color: white;
        font-weight: bold;
        font-family: $main-font;
        font-size: 1.1458vw;
        line-height: 1.3542vw;
        font-style: normal;
        text-align: center;
        transform: skewX(21deg);
        max-width: 12.5000vw;
        width: 100%;
        padding: 0;
      }

      &:nth-child(even) {
        background: #F89E18;
      }

      &:nth-child(3) {
        p {
          max-width: 14.8958vw;
        }
      }
    }
  }
}

.expr-video {
  width: 20.7292vw;
  height: 11.6667vw;
  box-sizing: border-box;
  margin: 1.6667vw auto 0;
  overflow: hidden;
  border: 1px solid white;
  border-radius: 1.5625vw 0.5208vw 1.5625vw 0.5208vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .img {
    position: absolute;
    border-radius: 1.5625vw 0.5208vw 1.5625vw 0.5208vw;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  a {
    position: relative;
    width: 4.1667vw;
    height: 4.1667vw;
    box-sizing: border-box;
    border: 1px solid #009845;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    transform-origin: 50% 50%;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1, 1.1);
      transition: transform 0.3s ease;
    }

    img {
      height: 1.5547vw;
      width: 1.823vw;
    }
  }

}

.buy-place {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 5.9063vw;

  span {
    font-family: $main-font;
    font-weight: bold;
    font-size: 1.5625vw;
    line-height: 1.7708vw;
    color: #fff;
    display: inline-block;
    width: 100%;
    max-width: 92.16470588%;
    margin: 0 auto;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      background: url("../img/loc-icon.svg") no-repeat center;
      width: 1.198vw;
      background-size: contain;
      height: 1.5625vw;
      top: 50%;
      left: calc(100% + 1.2500vw);
      transform: translate(0, -50%);
    }
  }

  p {
    font-family: $main-font;
    font-weight: normal;
    font-size: 1.1458vw;
    line-height: 1.3542vw;
    text-align: right;
    color: #fff;
    display: inline-block;
    width: 100%;
    max-width: 92.16470588%;
    margin: 0 auto;
    padding-top: 1.2333vw;

  }
}

.consult-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 5.9063vw;

  span {
    font-family: $main-font;
    font-weight: bold;
    font-size: 1.5625vw;
    line-height: 1.7708vw;
    color: #fff;
    display: inline-block;
    width: 100%;
    max-width: 92.16470588%;
    margin: 0 auto;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      background: url("../img/brain-icon.svg") no-repeat center;
      width: 1.3438vw;
      height: 1.5625vw;
      background-size: contain;
      top: 50%;
      left: calc(100% + 1.2500vw);
      transform: translate(0, -50%);
    }
  }

  p {
    font-family: $main-font;
    font-weight: normal;
    font-size: 1.1458vw;
    line-height: 1.3542vw;
    text-align: right;
    color: #fff;
    display: inline-block;
    width: 100%;
    max-width: 96.705882352%;
    margin: 0 0.8675vw 0 0;
    padding-top: 1.2333vw;

  }

}

.form-container {
  width: 100%;
  max-width: 20.7292vw;
  margin: 2.0833vw 0.8675vw 0 0;
  background: white;
  box-sizing: border-box;
  border: 1px solid #009845;
  border-radius: 1.5625vw 0.5208vw 1.5625vw 0.5208vw;
  padding: 1.0417vw;

  form {
    width: calc(100% + 2px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    > label {
      width: 17.526854674021402402674vw;
      height: 3.0208vw;
      display: inline-block;
      border-radius: 0.9896vw 0.2604vw 0.9896vw 0.2604vw;
      transform: skewX(-18deg);
      border: 1px solid #009845;
      overflow: hidden;
      margin-bottom: 0.8333vw;

      &:first-child {
        margin-top: 0;
      }

      input {
        width: 100%;
        height: 100%;
        transform: skewX(18deg);
        outline: none;
        background: white;
        border: none;
        font-family: $main-font;
        font-weight: normal;
        font-style: normal;
        font-size: 1.1458vw;
        line-height: 1.3542vw;
        color: #009845;
        box-sizing: border-box;
        padding: 0.2083vw 0.7167vw;

        &::placeholder {
          font-family: $main-font;
          font-weight: normal;
          font-style: normal;
          font-size: 1.1458vw;
          line-height: 1.3542vw;
          color: #009845;
          text-align: center;
        }

      }
    }
  }
}

.mailing {
  margin-top: 1.2656vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  label {
    width: auto;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    height: 1.3427vw;
    white-space: nowrap;

    input {
      display: none;

      &:checked {
        & + p + span {
          &::after {
            content: '';
            width: .79014vw;
            height: .887693vw;
            display: inline-block;
            position: absolute;
            top: 0;
            right: 0;
            background: url("../img/checkbox-icon.svg") no-repeat center;
            background-size: contain;
            left: auto;
            transform: none;
          }
        }
      }
    }

    span {
      margin-bottom: 0.2083vw;

      &::after {
        content: none;
      }

      display: inline-block;
      height: 1.144198vw;
      width: 1.176833vw;
      position: relative;
      margin-left: 0.4167vw;

      &::before {
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        width: .85133vw;
        height: .85133vw;
        box-sizing: border-box;
        display: inline-block;
        border: 1px solid #009845;
      }
    }

    p {
      font-size: 0.8333vw;
      line-height: 1.3542vw;
      font-family: $main-font;
      font-weight: normal;
      font-style: normal;
      color: #009845;
      margin: 0;
      padding: 0;
    }
  }


}

.modal-window {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -2;
  opacity: 0;
  transition: visibility 0.4s ease, opacity 0.4s ease;
  visibility: hidden;

  &.open {
    z-index: 1000;
    opacity: 1;
    visibility: visible;
  }
}

.modal-container {
  width: 66.6667vw;
  height: 37.5000vw;
  position: relative;
}

.embed-container {
  width: 100%;
  height: 100%;

  & > * {
    width: 100%;
    height: 100%;
  }
}

.close-modal {
  position: absolute;
  top: calc(100% + 0.7292vw);
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  cursor: pointer;

  img {
    width: 0.5208vw;
    height: 0.5208vw;
    margin-left: 0.4427vw;
  }

  p {
    font-size: 0.8333vw;
    line-height: 1.3542vw;
    font-family: $main-font;
    font-weight: normal;
    font-style: normal;
    color: $white;
  }

}

.animated-bugs {
  z-index: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  img:nth-child(1) {
    width: 5.8490vw;
    height: 5.4344vw;
    transition: all .01ms linear;
    position: absolute;
    right: calc(100% + 1.1458vw);
    top: -2.1458vw;
    transform: rotate(-18deg) translate(0, 4vw);
    animation: animBugFirst 12s linear infinite;
  }
  img:nth-child(2) {
    width: 4.9573vw;
    height: 4.7677vw;
    transition: all .01ms linear;
    position: absolute;
    left: calc(100% + 1.1458vw);
    bottom: -1.1458vw;
    transform: translate(4vw, -18vw) rotate(191deg);

    animation: animBugSecond 8s linear infinite;
  }
}

@keyframes animBugFirst {
  0% {
    transform:  rotate(-18deg) translate(0, 14vw) ;

  }

  40% {
    transform: rotate(-18deg) translate(3vw, -3vw);
  }
  60% {
    transform: translate(3vw, -3vw) rotate(172deg);
  }
  85% {
    transform:  translate(3vw,14vw) rotate(172deg);
  }
  94% {
    transform:  translate(3vw, 14vw) rotate(342deg);
  }
  100% {
    transform: rotate(-18deg) translate(0, 14vw) ;
  }

}
@keyframes animBugSecond {
  0% {
    transform: translate(4vw, -18vw) rotate(191deg);
  }

  40% {
    transform:  translate(0vw,2vw) rotate(191deg);
  }
  60% {
    transform:  translate(0vw, 2vw) rotate(11deg);
  }
  85% {
    transform: rotate(11deg) translate(4vw, -18vw) ;
  }
  94% {
    transform:   translate(4vw, -18vw) rotate(191deg);
  }
  100% {
    transform: translate(4vw, -18vw) rotate(191deg);
  }

}

.thanks-block {
  width: 100%;
  height: 100%;
  background: url("../img/bg-dama-thanks.png") no-repeat center bottom;
  background-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thanks-text {
  width: 100%;
  max-width: 21.1458vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  h2 {
    font-size: 3.1250vw;
    line-height: 3.1250vw;
    font-family: $main-font;
    font-weight: bold;
    color: $white;
    font-style: normal;
    text-align: center;
    width: 100%;
    max-width: 15.1042vw;
    padding-bottom: 0.4510vw;
  }
  p {
    font-size: 1.6667vw;
    line-height: 2.0833vw;
    color: $white;
    font-weight: normal;
    font-style: normal;
    font-family: $main-font;
    padding-top: 0.6510vw;
    position: relative;
    box-sizing: border-box;
    padding-right: 0.6510vw;
    &::before {
      width: 100%;
      height: 0.2083vw;
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: -0.2083vw;
      background: white;

    }
  }
}

.iframe {
  display: none;
  &.active {
    display: block;
  }
}

@import "media"; // Always at the end
